a{
	text-decoration:none;
}
.logo{
	width:30%;
	float:left;
	overflow:hidden;
}
.header-top{
	background:#FFFFFF;
	padding:10px;
    position:relative;
	
}
.header-top:after{
	content:'';
	display:block;
	clear:both;
}
.header-manu{
	width:70%;
	float:right;
	overflow:hidden;
}
.header-manu ul{
	margin:0;
	padding:0;
	float:right;
	list-style:none;
}

.header-manu ul li{
	float:left;
}
.header-manu ul li:after{
	content:' ';
	color:#007BFF;
}
.header-manu ul li:last-child:after{
	content:'';
}
.header-manu ul li a{
	color:#007BFF;
	font-size:20px;
	font-family:georgia Regular;
	font-weight:normal;
	margin-right:10px;
	margin-left:10px;
	
}
.search{
	border:1px solid blue;
	color:blue;
}

/* header-bottom */

.header-bottom{
	background:#004EA2;
	position:relative;
}

.header-bottom:after{
	content:'';
	display:block;
	clear:both;
}
.header-bottom ul{
	list-style:none;
	margin:0;
	padding:0;
}
.header-bottom ul li{
	float:left;
	position:relative;
	
}
.header-bottom ul ul {
	position:absolute;
	top:100%;
	background:#3498DB;
	width:300px;
	display:none;
}
.header-bottom ul li:hover ul{
	display:block;
}
.header-bottom ul ul li{
	float:none;
}
.header-bottom a{
	text-decoration:none;
	color:white;
	display:block;
	padding:10px 30px;
	text-transform:uppercase;
}

.header-bottom ul li:hover{
	background:#224077;
	border-radius:5px;
}
.header-bottom ul li:last-child a{
	margin-right:-10px;
}

.l-bottom{
	width:40%;
	float:left;
	overflow:hidden;
	margin-left:100px;
}

.r-bottom{
	width:40%;
	float:right;
	overflow:hidden;
	margin-right:90px;

}
/* header-bottom1 */

.header-bottom1{
	background:#FFFFFF;
}
.header-bottom1:after{
	content:'';
	display:block;
	clear:both;
}
.header-bottom1 ul{
	list-style:none;
	margin:0;
	padding:0;
}
.header-bottom1 ul li{
	float:left;
	position:relative;
}
.header-bottom1 ul ul {
	position:absolute;
	top:100%;
	background:#3498DB;
	width:300px;
	display:none;
}

.header-bottom1 ul ul li{
	float:none;
}
.header-bottom1 a{
	text-decoration:none;
	color:#009DF6;
	display:block;
	padding:10px 65px;
	text-transform:capitalize;
	font-size:17px;
	margin-right:10px;
	margin-left:10px;
}

.header-bottom1 ul li a:hover{
	color:#004EA2;
}

.left-bottom{
	width:40%;
	float:left;
	overflow:hidden;
	margin:0;
}
.middle-bottom{
	width:20%;
	float:left;
	overflow:hidden;
}
.middle-bottom img{
	height:130px;
	width:130px;
	margin-top:-80px;
	margin-left:-30px;
	border-style: none;
	position:absolute;
	box-shadow:5px 0px  15px 5px #FFFFFF;
	border-radius:50%;
	transition:1s;
}
.middle-bottom img:hover{
	box-shadow:5px 0px  15px 5px #4F7DAE;
	border-radius:50%;
	transition:1s;
}

.right-bottom{
	width:40%;
	float:right;
	overflow:hidden;
}

/* footer-top */

.footer-top{
	background:url("../images/banner-3.jpg");
	height:600px;
	width:100%;
}
.footer-text p{
	margin-top:0px;
	font-size:70px;
	text-align:right;
	padding-right:100px;
	padding-top:50px;
	color:#FFFFFF;
	text-transform:uppercase;
	font-weight:normal;
	margin-bottom:15px;
}

.footer-button1 a{
	background:#2980B9;
	color:#FFFFFF;
	padding:5px 20px;
	display:inline-block;
	border-radius:6px;
	font-size:16px;
	text-transform:capitalize;
	margin-right:50px;
	border:1px solid #FFFFFF;
	position:relative;
}
.footer-button1:hover a{
	background:#FFFFFF;
	color:#000000;
	padding:5px 20px;
	display:inline-block;
	border-radius:6px;
	font-size:16px;
	text-transform:capitalize;
	margin-right:50px;
	border:1px solid #FFFFFF;
	position:relative;
	
	
}

.footer-button1{
	float:right;
	overflow:hidden;
}

.footer-button2 a{
	background:#2980B9;
	color:#FFFFFF;
	padding:5px 20px;
	display:inline-block;
	border-radius:6px;
	font-size:16px;
	text-transform:capitalize;
	margin-right:50px;
	border:1px solid #FFFFFF;
	position:relative;
	
}
.footer-button2:hover a{
	background:#FFFFFF;
	color:#000000;
	padding:5px 20px;
	display:inline-block;
	border-radius:6px;
	font-size:16px;
	text-transform:capitalize;
	margin-right:50px;
	border:1px solid #FFFFFF;
	position:relative;
	
}

.footer-button2{
	float:right;
	overflow:hidden;
}

.footer-button3 a{
	background:#2980B9;
	color:#FFFFFF;
	padding:10px 20px;
	display:inline-block;
	border-radius:6px;
	font-size:20px;
	text-transform:capitalize;
	margin-right:-50px;
	margin-top:60px;
	border:1px solid #FFFFFF;
	position:absolute;
	
	
}
.footer-button3:hover a{
	background:#FFFFFF;
	color:#000000;
	padding:10px 20px;
	display:inline-block;
	border-radius:6px;
	font-size:20px;
	text-transform:capitalize;
	margin-right:-50px;
	margin-top:60px;
	border:1px solid #FFFFFF;
	position:absolute;
	
	
}

.footer-button3{
	float:right;
	overflow:hidden;
}